<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>MegaSlither</title>
    <meta name="viewport" content="minimal-ui, user-scalable=no, initial-scale=0.7, maximum-scale=0.7, width=device-width" />
    <meta name="description" content="The smash-hit game! Play with millions of players around the world and try to become the longest of the day!" />
    <meta property="og:description" content="The smash-hit game! Play with millions of players around the world and try to become the longest of the day!" />
    <meta name="keywords" content="slitherio, slither, io, snake, snakes, worm, worms, game, games, web game, html5, fun, flash">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="megaslither.io" />
    <meta property="og:url" content="http://megaslither.io" />
    <meta property="og:site_name" content="megaslither.io" />
    <meta property="og:image" content="http://megaslither.io/assets/img/fbthumb.jpg" />
    <link rel="image_src" href="http://megaslither.io/assets/img/fbthumb.jpg" />
    <link rel="icon" href="/assets/img/favicon.png" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/slither.css" rel="stylesheet" type="text/css" />
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="container"></div>
    <script type="text/javascript" src="/dist/bundle.js"></script>
    <script src="/assets/js/client.js"></script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-80593543-1', 'auto');
    ga('send', 'pageview');
    </script>
</body>

</html>
